/* 清除浏览器的默认间距 */
*{
    margin: 0;padding: 0
}
/* 清除b、strong标签的默认样式 */
b,strong{
    font-weight: normal
}
/* 清除i、em标签的默认样式 */
i,em{
    font-style: normal
}
/* 清除a、u标签的默认下划线 */
a,u{
    text-decoration: none
}
/* 清除列表默认样式符号 */
ul,li{
    list-style: none
}
/* 解决行内块元素基线对齐的问题 */
img,input{
    vertical-align: middle
}
/* 底 */
footer{
    background-color: #fff;
    width: 100%;
    height: 0.47rem;
    font-size: 0.06rem;
    display: flex;
    justify-content: space-around;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8c8c8c;
}
footer div i{
    font-size: 0.21rem !important;
}
footer div p{
    font-size: 0.1rem;
}
footer div:hover,footer div:focus{
    color: #d9362e;
}