/* 清除浏览器的默认间距 */
*{
    margin: 0;padding: 0
}
/* 清除b、strong标签的默认样式 */
b,strong{
    font-weight: normal
}
/* 清除i、em标签的默认样式 */
i,em{
    font-style: normal
}
/* 清除a、u标签的默认下划线 */
a,u{
    text-decoration: none
}
/* 清除列表默认样式符号 */
ul,li{
    list-style: none
}
/* 解决行内块元素基线对齐的问题 */
img,input{
    vertical-align: middle
}